<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bitpro is a simple HTML5 Business Portfolio Template with a modern look. HTML files are well organized and named accordingly so its very easy to customize and update.">
    <meta name="keywords" content="ART,BUSINESS,DESIGN,GRAPHIC,FASHION,MODEL,PHOTOGRAPHY,WEB DESIGN">
    <meta name="author" content="bitspeck">
    <title>Recrutamento e Seleção</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <!-- font-awesome.min - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <!-- bootstrap.min - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- owl.carousel.min - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
    <!-- slick - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
    <!-- jquery.fancybox.min - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css" />
    <!-- main - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- responsive - css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <!-- Vagas styles (arquivo CSS novo) -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vagas.css">



</head>

<body class="dark-color" data-spy="scroll" data-target=".navbar" data-offset="10">
    <!-- Start: Preloader Section
        =================================== -->
    <div id="main-preloader" class="main-preloader semi-dark-background">
        <div class="main-preloader-inner center">

            <div class="preloader-percentage center">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
                <div class="object object_four"></div>
                <div class="object object_five"></div>
            </div>
            <div class="preloader-bar-outer">
                <div class="preloader-bar"></div>

            </div>

        </div>
    </div>
    <!-- End: Preloader Section
        =================================== -->

 
        <!-- header menu -->
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                            <a class="navbar-brand logos" href="#top"><img src="/assets/images/logo-branca.png" class="img-responsive" alt="logo"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropmenu">
                                    <a href="#top" class="dropbtn">Home</a>
                                </li>
                                <li><a href="#about">sobre</a></li>
                                <li><a href="#counter">stats</a></li>
                                <li><a href="#vagas">vagas</a></li>
                                <li><a href="#testimonial-full">depoimentos</a></li>
                                <li><a href="http://127.0.0.1:5000/login" class="btn">Login</a></li>
                            </ul>
                            
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                    <!-- /.navbar -->


                </div>
            </div>
        </div>
        <!-- /.header menu -->
    </header>
    <!-- slider part -->
    <!--
        =====================
        slider Part start
        =====================
    -->
    <section class="slider-area">
        <div class="slider-wraper owl-carousel">
            <!-- single slider -->
            <div class="single-slider slider-bg-1 parallax">
                <div class="slider-table">
                    <div class="slider-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- single slider content -->
                                    <div class="slider-info">
                                        <h2>Venha Crescer com a CF Contabilidade</h2>
                                        <h3>Faça Parte de uma Equipe que Valoriza Pessoas e Excelência</h3>
                                        <p>Faça parte de um time que preza pela inovação, eficiência e o sucesso dos nossos clientes, com foco em um ambiente de trabalho acolhedor e dinâmico.</p>
                                        <div class="button-holder">
                                            <a href="#" class="button active">Saiba Mais</a>
                                            <a href="#" class="button btn-white">Conheça as Vagas</a>
                                        </div>
                                    </div>
                                    <!-- /.single slider content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.single slider -->
            <!-- single slider -->
            <div class="single-slider slider-bg-2 parallax">
                <div class="slider-table">
                    <div class="slider-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <!-- single slider content -->
                                    <div class="slider-info">
                                        <h2>Desenvolvimento Contínuo para Seu Sucesso</h2>
                                        <h3>Cresça e aprimore suas habilidades com treinamentos e oportunidades de desenvolvimento</h3>
                                        <p>Na CF Contabilidade, oferecemos programas de treinamento contínuos e oportunidades para que você evolua em sua carreira. Investimos em você, para que juntos possamos alcançar o sucesso.</p>
                                        <div class="button-holder">
                                            <a href="#" class="button active">Saiba Mais</a>
                                            <a href="#" class="button btn-white">Conheça as Vagas</a>
                                        </div>
                                    </div>
                                    <!-- /.single slider content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.single slider -->
            <!-- single slider -->
            <div class="single-slider slider-bg-3 parallax">
                <div class="slider-table">
                    <div class="slider-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- single slider content -->
                                    <div class="slider-info">
                                        <h2>Cultura de Colaboração e Inclusão</h2>
                                        <h3>Trabalhe em um ambiente que valoriza o respeito, a diversidade e o trabalho em equipe</h3>
                                        <p>Na CF Contabilidade, todos têm voz. Nossa cultura incentiva a colaboração, o respeito e a inclusão, proporcionando um ambiente onde você pode crescer e contribuir para o sucesso coletivo.</p>

                                        <div class="button-holder">
                                            <a href="#" class="button active">Saiba Mais</a>
                                            <a href="#" class="button btn-white">Conheça as Vagas</a>
                                        </div>
                                    </div>
                                    <!-- /.single slider content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.single slider -->
            <!-- single slider -->
            <div class="single-slider slider-bg-4 parallax">
                <div class="slider-table">
                    <div class="slider-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- single slider content -->
                                    <div class="slider-info">
                                        <h2>Benefícios que Valorizam Você</h2>
                                        <h3>Cuidamos do seu bem-estar com benefícios competitivos e flexibilidade</h3>
                                        <p>Além de um ambiente de trabalho dinâmico, oferecemos benefícios que promovem a qualidade de vida. Aqui, você encontrará flexibilidade, planos de saúde e um ambiente que preza pelo equilíbrio entre vida pessoal e profissional.</p>
                                        <div class="button-holder">
                                            <a href="#" class="button active">Saiba Mais</a>
                                            <a href="#" class="button btn-white">Conheça as Vagas</a>
                                        </div>
                                    </div>
                                    <!-- /.single slider content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.single slider -->
        </div>
    </section>
    <!--
        =====================
        slider Part end
        =====================
    -->

    <!--
        ==============================
        About Area Start
        ==============================
    -->
    <section id="about" class="about-skill">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- About heading -->
                    <h2 class="title-text shape2 text-center title-dark">
                        Sobre <span>Nós</span>
                    </h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 about">
                    <div class="about-image">
                        <img src="/assets/images/about-image.jpg" class="img-responsive" alt="">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 skills">

                    <div class="paragraph color-dark">
                        <p>Mais do que um escritório de contabilidade, somos verdadeiros parceiros de negócios!

                            Nossa missão é apoiar nossos clientes a se tornarem agentes de transformação, usando a contabilidade como ferramenta para impactar positivamente a sociedade.
                            
                            Valorizamos a humanização, a qualidade no serviço, o foco em soluções eficazes e a transparência em cada ação que realizamos.
                            
                            Nosso objetivo é sermos reconhecidos como uma das maiores empregadoras no setor contábil no Brasil, cultivando uma equipe motivada e engajada, que compartilha da visão de ser dona do próprio negócio.</p>
                    </div>
                    <div class="skills">
                        <div class="Progress-text Progress-dark-text">
                            <h3>Expertise em Tributos (ICMS, ISS, PIS, COFINS)</h3>
                            <p>95%</p>
                            <div class="progress skill-bar ">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="55">
                                    <span class="skill"><i class="val"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="Progress-text Progress-dark-text">
                            <h3>Gestão de Departamento Pessoal</h3>
                            <p>90%</p>
                            <div class="progress skill-bar">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="skill"><i class="val"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="Progress-text Progress-dark-text">
                            <h3>Atendimento Personalizado </h3>
                            <p>100%</p>
                            <div class="progress skill-bar">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="skill"><i class="val"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="Progress-text Progress-dark-text">
                            <h3>Conhecimento da Legislação Tributária</h3>
                            <p>97%</p>
                            <div class="progress skill-bar ">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="skill"> <i class="val"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="Progress-text Progress-dark-text">
                            <h3>Soluções para Empresas</h3>
                            <p>99%</p>
                            <div class="progress skill-bar ">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                    <span class="skill"> <i class="val"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--
        ==============================
        About Area End
        ==============================
    -->


    <!--
        ==============================
        counter Area Start
        ==============================
    -->
    <section id="counter">
        <div class="counter_banner">
            <div class="bnr_overly">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1 col-xs-6">

                            <div class="counter_text">
                                <a><i class="fa fa-code"></i></a>
                                <h4><span class="counter">122</span></h4>
                                <p>Projects</p>
                            </div>
                        </div>

                        <div class="col-md-2 col-xs-6">

                            <div class="counter_text">
                                <a><i class="fa fa-smile-o"></i></a>
                                <h4><span class="counter">121</span></h4>
                                <p>Clients</p>
                            </div>
                        </div>

                        <div class="col-md-2 col-xs-6">

                            <div class="counter_text">
                                <a><i class="fa fa-trophy"></i></a>
                                <h4><span class="counter">522</span></h4>
                                <p>Awards</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">

                            <div class="counter_text">
                                <a><i class="fa fa-users" aria-hidden="true"></i></a>
                                <h4><span class="counter">744</span></h4>
                                <p>Partners</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">

                            <div class="counter_text">
                                <a><i class="fa fa-coffee"></i></a>
                                <h4><span class="counter">122</span></h4>
                                <p>Cups of Tea</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ==============================
        counter Area End
        ==============================
    -->


    <!-- Seção de Vagas -->
    <section id="vagas" class="vagas-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title-text shape2 text-center title-dark">Vagas <span>Disponíveis</span></h2>
                    <div id="vagas-list">
                        <table>
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Descrição</th>
                                    <th>Requisitos</th>
                                    <th>Inscrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop para exibir vagas cadastradas -->
                                {% for vaga in vagas %}
                                <tr>
                                    <td>{{ vaga.titulo }}</td>
                                    <td>{{ vaga.descricao }}</td>
                                    <td>{{ vaga.requisitos }}</td>
                                    <td><button class="btn btn-primary" onclick="openForm()">Quero me Inscrever</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Formulário Modal -->
    <div id="inscricaoModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeForm()">&times;</span>
            <h2>Formulário de Inscrição</h2>
<form id="form-inscricao" method="POST" action="http://localhost:5000/inscricao" enctype="multipart/form-data">


                <!-- Vaga de Interesse -->
                <div class="form-group">
                    <label for="vaga">Vaga de Interesse:</label>
                    <select id="vaga" class="form-control" name="vaga" required>
                        <option value="">Selecione a vaga</option>
                        {% for vaga in vagas %}
                        <option value="{{ vaga.id }}">{{ vaga.titulo }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Botão de Enviar -->
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>


 <!--
        ==============================
        testimonial Area start
        ==============================
    -->
    <section id="testimonial-full" data-stellar-background-ratio="0.2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- section heading -->
                    <div class="">
                        <h2 class="title-text title-dark  shape2 text-center">
                            Nossos <span>depoimentos</span>
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial">
        <div class="container wow slideInLeft">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="client_feedback">
                        <div class="testimonial_item">
                            <p>Trabalhar na CF é ter a chance de crescer em um ambiente acolhedor, onde você se sente em casa, cercado de pessoas alegres que fazem seu dia ser melhor. Aqui, você pode tirar todas as suas dúvidas com confiança e se sentir à vontade a qualquer momento. Fazer parte desse time é incrível!</p>
                            <h2>Julia Alvares</h2>
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="testimonial_item">
                            <p>Trabalhar na CF Contabilidade é uma jornada de aprendizagem e autoconhecimento. Aqui eu desenvolvo e amadureço o profissional que serei no futuro.</p>
                            <h2>Matheus</h2>
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                        <div class="testimonial_item">
                            <p>Eu AMO trabalhar na CF! 
                                O ambiente e as pessoas são extremamente acolhedores. 
                                Tive e continuo tendo ótimas oportunidades aqui, sou imensamente  grata  por tudo.
                                 Tenho muito orgulho de fazer parte da CF!</p>
                            <h2>Yasmin Fraga</h2>
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client hidden-xs hidden-sm wow slideInRight">
            <div class="client_main_img">
                <div class="client_img">
                    <img src="/assets/images/julia.jpeg" class="img-responsive" alt="">
                </div>
                <div class="client_img">
                    <img src="/assets/images/mateus.jpeg" class="img-responsive" alt="">
                </div>
                <div class="client_img">
                    <img src="/assets/images/yasmin.jpeg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>


    <!--
        ==============================
        testimonial Area end
        ==============================
    -->


    <!--
        ==============================
        footer Area Start
        ==============================
    -->
    <!-- Estrutura do Footer -->
    <footer id="footer">
        <div class="footer-icons">
            <ul>
                <li><a href="https://www.facebook.com/CFcontabilidade/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/c/CFContabilidade" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://br.linkedin.com/company/cf-contabilidade" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        
        <hr>

        <div class="copyright">
            &copy; 2024 by <a><img src="/assets/images/logo-branca.png" class="cf-logo"></a>
        </div>

    </footer>

    <!--
        ==============================
        footer Area End
        ==============================
    -->
    

    <!-- jquery-1.12.4.min - js -->
    <script src="/assets/js/vagas.js"></script>
    <!-- jquery-1.12.4.min - js -->
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <!-- bootstrap.min - js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- SmoothScroll - js -->
    <script src="/assets/js/SmoothScroll.js"></script>
    <!-- owl.carousel.min - js -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- jquery.mb.YTPlayer.min - js -->
    <script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- jquery.fancybox.min - js -->
    <script src="/assets/js/jquery.fancybox.min.js"></script>
    <!-- mixitup.min - js -->
    <script src="/assets/js/mixitup.min.js"></script>
    <!-- counter - js -->
    <script src="/assets/js/counter.js"></script>
    <!-- waypoints - js -->
    <script src="/assets/js/waypoints.js"></script>
    <!-- waypoints - js -->
    <script src="/assets/js/mixitup.min.js"></script>
    <!-- slick.min - js -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- main - js -->
    <script src="/assets/js/main.js"></script>
</body>

</html>